body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.icon-bar{
    background-color: #fff !important;
}
.navbar {
    font-family: Montserrat, sans-serif;
}

.navbar-toggle:hover{
    background-color: #B71C1C !important;
}
.navbar-toggle:focus{
    background-color: #B71C1C !important;
}

.navbar{
    margin-bottom: 0;
    background-color: #D32F2F;
    z-index: 9999;
    border: 0;
    opacity: 0.9;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #D32F2F !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.carousel-inner img{
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #D32F2F;
}

.carousel-indicators li {
    border-color: #D32F2F;
}

.carousel-indicators li.active {
    background-color: #D32F2F;
    color: #fff !important;
}

.panel-heading{
    color: #fff !important;
}
.color-panel{
    background-color: #EF5350 !important;
}

.color-border-panel{
    border-color: #EF5350 !important;
}

.detailsButton{
    background-color: #EF5350 !important;
    color: #fff;
    margin-bottom: 10px;
}

.detailsButton:hover{
    background-color: #B71C1C !important;
    color: #fff;
}

.detailsButton:focus{
    background-color: #B71C1C !important;
    color: #fff;
}

.sendButton{
    background-color: #EF5350 !important;
    color: #fff;
    margin-bottom: 10px;
}

.sendButton:hover{
    background-color: #B71C1C !important;
    color: #fff;
}

.sendButton:focus{
    background-color: #B71C1C !important;
    color: #fff;
}


#map{
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
}

#descrizione, #servizi, #contatti{
    margin-top: 30px;
}

.slideanim {visibility:hidden;}
.slidein {
    /* The name of the animation */
    animation-name: slidein;
    -webkit-animation-name: slidein; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slidein {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slidein {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
